body {
    background-image: url(Wunmicuttie\ 20170817_120749.jpg);
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: larger;
    /* text-align: center;*/
} 

h1 {
    color: goldenrod;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    color: yellow;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}
p {
    color:black;
    font-style: normal;
}
#message-el {
    font-style:italic;
    color:black
}


button {
    border:greenyellow;
    padding: 5px 5px 5px 5px;
    color: green;
    font-weight: bold;
    width: 100px;
    border-radius: 5px;

}

/*#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}
/*body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkgreen;
    background-image: url(download\ \(6\).png);
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}

h2 {
    color:whitesmoke;
}

p {
    font-style: italic;
    color:yellow
}

button {
    padding: 5px 0px 5px 0px;
    color:#016f32;
    width: 100px;
    background: goldenrod;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;

}*/
